In [ ]:
import pandas as pd
import numpy as np

### Creating the case TSV for UMichigan batch 1:

In [ ]:
directory1 = '/content/drive/MyDrive/powertools_umich_20230113.csv' #powertools output file for UMichigan batch 1
directory2 = '/content/drive/MyDrive/all_patients_umichigan.csv' #all patient data provided by UMichigan
directory3 = '/content/drive/MyDrive/all_covid_details_umichigan.csv' #all covid admission details provided by UMichigan
directory4 = '/content/drive/MyDrive/umichigan_measurements_all_patients.csv' #all covid19 measurements provided by UMichigan
directory5 = '/content/drive/MyDrive/all_imaging_studies_including_385_missing.csv' #all imaging study details provided by UMichigan and generated by me

In [ ]:
df1 = pd.read_csv(directory1)
df2 = pd.read_csv(directory2)
df3 = pd.read_csv(directory3)
df4 = pd.read_csv(directory4)
df5 = pd.read_csv(directory5)

#### Grabbing all the cases in batch 1 using the powertools output file:

In [ ]:
cases_b1 = df1.drop_duplicates(subset ='case_ids')
cases_b1

,file_name,accession_number,acquisition_type,body_part_examined,case_ids,contrast_bolus_agent,contrast_bolus_agent_number,patient_position,convolution_kernel,detector_type,...,pixel_spacing,series_description,series_uid,slice_thickness,spacing_between_slices,spatial_resolution,study_description,study_uid,view_position,study_date
0,1.2.826.0.1.3680043.10.474.302028.12706.dcm,2,NaN,CHEST,302028-000002,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,CHEST AP,1.2.826.0.1.3680043.10.474.302028.7,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.6,AP,20170401
1,1.2.826.0.1.3680043.10.474.302028.40598.dcm,2,NaN,CHEST,302028-000003,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,CHEST AP,1.2.826.0.1.3680043.10.474.302028.11,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.10,AP,20180412
4,1.2.826.0.1.3680043.10.474.302028.83248.dcm,2,NaN,CHEST,302028-000004,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,NaN,1.2.826.0.1.3680043.10.474.302028.19,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.18,AP,20110517
5,1.2.826.0.1.3680043.10.474.302028.106944.dcm,2,NaN,CHEST,302028-000005,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest Lat.,1.2.826.0.1.3680043.10.474.302028.22,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.21,NaN,20141214
7,1.2.826.0.1.3680043.10.474.302028.120776.dcm,2,NaN,NaN,302028-000006,NaN,NaN,FFS,BONE,NaN,...,0.703125,EXPIRATION @ RV,1.2.826.0.1.3680043.10.474.302028.1112,1.25,-0.625,NaN,CT CHEST WO CONTRAST,1.2.826.0.1.3680043.10.474.302028.26,NaN,20160829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541206,1.2.826.0.1.3680043.10.474.302028.1593289.dcm,2,NaN,CHEST,302028-004296,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest p.a.,1.2.826.0.1.3680043.10.474.302028.1593291,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.1593290,NaN,20191027
541208,1.2.826.0.1.3680043.10.474.302028.1593331.dcm,2,NaN,NaN,302028-004297,93ML ISO370,NaN,FFS,STANDARD,NaN,...,0.712891,CHEST 2 q 2 SAGITTAL,1.2.826.0.1.3680043.10.474.302028.1593333,1.25,NaN,NaN,CT CHEST W CONTRAST,1.2.826.0.1.3680043.10.474.302028.1593332,NaN,20160520
542180,1.2.826.0.1.3680043.10.474.302028.1595897.dcm,2,NaN,CHEST,302028-004298,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest p.a.,1.2.826.0.1.3680043.10.474.302028.1595899,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.1595898,NaN,20140313
542182,1.2.826.0.1.3680043.10.474.302028.1595902.dcm,2,NaN,CHEST,302028-004299,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,CHEST AP,1.2.826.0.1.3680043.10.474.302028.1595904,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.1595903,AP,20111101
542183,1.2.826.0.1.3680043.10.474.302028.1595932.dcm,2,NaN,CHEST,302028-004300,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest a.p. PEDS Infant_c,1.2.826.0.1.3680043.10.474.302028.1595934,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.1595933,NaN,20120405

#### There are 2270 patients in batch 1. Locating all the patient detials for this cohort:

In [ ]:
cases_b1 = df2.loc[df2.anon_mrn.isin(cases_b1['case_ids'])]

In [ ]:
cases_b1

           anon_mrn  age     ethnicity                       race     sex  zip
0     302028-000002  NaN  Non-Hispanic  Black or African American  Female  481
2     302028-000005  NaN  Non-Hispanic  Black or African American  Female  482
5     302028-000004  NaN  Non-Hispanic         White or Caucasian  Female  481
7     302028-000006  NaN  Non-Hispanic         White or Caucasian    Male  487
9     302028-000003  NaN  Non-Hispanic         White or Caucasian    Male  486
...             ...  ...           ...                        ...     ...  ...
4324  302028-004032  NaN  Non-Hispanic         White or Caucasian  Female  435
4325  302028-003844  NaN  Non-Hispanic         White or Caucasian    Male  487
4326  302028-004103  NaN  Non-Hispanic  Asian, White or Caucasian    Male  484
4327  302028-003894  NaN  Non-Hispanic         White or Caucasian    Male  481
4328  302028-003880  NaN      Hispanic                      Other    Male  484

[2270 rows x 6 columns]

#### Let's clean this table up a bit:

In [ ]:
cases_b1.rename(columns={'anon_mrn': 'case_ids'}, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

#### Dropping age because it's empty in this table. We'll find the age for each patient later:

In [ ]:
cases_b1.drop('age', axis=1, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

#### Adding some more propoerties:

In [ ]:
cases_b1['site_id']= '302028'
cases_b1['submitter_id'] = cases_b1['case_ids']
cases_b1['gen3_linked_subjects_available'] = False
cases_b1['index_event'] = 'First COVID test'
cases_b1

<ipython-input-9-857aae307d04>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_b1['site_id']= '302028'
<ipython-input-9-857aae307d04>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_b1['submitter_id'] = cases_b1['case_ids']
<ipython-input-9-857aae307d04>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_b1['gen3_linked_subjects_available'] = False
<ipython-input-9-857aae307d04>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_b1['index_event'] = 'First COVID test'

,case_ids,ethnicity,race,sex,zip,site_id,submitter_id,gen3_linked_subjects_available,index_event
0,302028-000002,Non-Hispanic,Black or African American,Female,481,302028,302028-000002,False,First COVID test
2,302028-000005,Non-Hispanic,Black or African American,Female,482,302028,302028-000005,False,First COVID test
5,302028-000004,Non-Hispanic,White or Caucasian,Female,481,302028,302028-000004,False,First COVID test
7,302028-000006,Non-Hispanic,White or Caucasian,Male,487,302028,302028-000006,False,First COVID test
9,302028-000003,Non-Hispanic,White or Caucasian,Male,486,302028,302028-000003,False,First COVID test
...,...,...,...,...,...,...,...,...,...
4324,302028-004032,Non-Hispanic,White or Caucasian,Female,435,302028,302028-004032,False,First COVID test
4325,302028-003844,Non-Hispanic,White or Caucasian,Male,487,302028,302028-003844,False,First COVID test
4326,302028-004103,Non-Hispanic,"Asian, White or Caucasian",Male,484,302028,302028-004103,False,First COVID test
4327,302028-003894,Non-Hispanic,White or Caucasian,Male,481,302028,302028-003894,False,First COVID test
4328,302028-003880,Hispanic,Other,Male,484,302028,302028-003880,False,First COVID test

#### Makign sure that the property values align with the MIDRC data model:

In [ ]:
cases_b1['sex'].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
cases_b1['zip'].unique()

array(['481', '482', '487', '486', '489', '492', '467', '480', '100',
       '488', '496', '490', '499', '497', '441', '435', '498', '485',
       '895', '484', '483', '537', '770', '448', '436', '493', '891',
       '494', '76', '339', '802', '834', '132', '572', '491', '112',
       '434', '303', '950', '468', '652', '21', '495', '237', '432',
       '605', '287', '919', '917', '301', '787', '346', '841', '405',
       '431', '312', '843', '234', '571', '272', '278', '587', '980',
       '550', '981'], dtype=object)

#### Need to perform mapping for ethnicity:

In [ ]:
cases_b1['ethnicity'].unique()

array(['Non-Hispanic', 'Not Reported', 'Hispanic'], dtype=object)

In [ ]:
cases_b1['ethnicity'] = cases_b1['ethnicity'].map({'Non-Hispanic': 'Not Hispanic or Latino',
                                                   'Not Reported': 'Not Reported',
                                                   'Hispanic': 'Hispanic or Latino'})

<ipython-input-13-6e5aa37b667b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_b1['ethnicity'] = cases_b1['ethnicity'].map({'Non-Hispanic': 'Not Hispanic or Latino',

In [ ]:
cases_b1['ethnicity'].unique()

array(['Not Hispanic or Latino', 'Not Reported', 'Hispanic or Latino'],
      dtype=object)

#### Similarly, need to provide mapping for race:

In [ ]:
cases_b1['race'].unique()

array(['Black or African American', 'White or Caucasian', 'Unknown',
       'Asian', 'Other', 'White or Caucasian, Black or African American',
       'Choose not to disclose', 'White or Caucasian, Other',
       'Asian, Unknown, White or Caucasian',
       'Native Hawaiian and Other Pacific Islander',
       'Black or African American, Unknown', 'Filipino', 'Not Reported',
       'Other, White or Caucasian',
       'Black or African American, White or Caucasian',
       'American Indian and Alaska Native',
       'Black or African American, Other',
       'Black or African American, American Indian and Alaska Native',
       'Chinese, White or Caucasian', 'Asian, White or Caucasian',
       'Japanese, White or Caucasian',
       'Asian, Black or African American, White or Caucasian',
       'Filipino, Black or African American, White or Caucasian',
       'White or Caucasian, Asian',
       'White or Caucasian, American Indian and Alaska Native', 'Chinese',
       'Asian Indian', 'Unknown, White or Caucasian',
       'American Indian and Alaska Native, White or Caucasian',
       'Asian, Other',
       'American Indian and Alaska Native, Black or African American'],
      dtype=object)

In [ ]:
len(cases_b1['race'].unique())

31

In [ ]:
cases_b1['race'] = cases_b1['race'].map({'Black or African American': 'Black or African American',
                                                   'White or Caucasian': 'White',
                                                   'Unknown': 'Not Reported',
                                                   'Asian': 'Asian',
                                                   'Other': 'Other',
                                                   'White or Caucasian, Black or African American' : 'Other',
                                                   'Choose not to disclose': 'Not Reported',
                                                   'White or Caucasian, Other': 'Other',
                                                   'Asian, Unknown, White or Caucasian': 'Other',
                                                   'Native Hawaiian and Other Pacific Islander': 'Native Hawaiian or other Pacific Islander',
                                                   'Black or African American, Unknown': 'Other',
                                                   'Filipino': 'Asian',
                                                   'Not Reported': 'Not Reported',
                                                   'Other, White or Caucasian': 'Other',
                                                   'Black or African American, White or Caucasian': 'Other',
                                                   'American Indian and Alaska Native': 'American Indian or Alaska Native',
                                                   'Black or African American, Other': 'Other',
                                                   'Black or African American, American Indian and Alaska Native': 'Other',
                                                   'Chinese, White or Caucasian': 'Other',
                                                   'Asian, White or Caucasian': 'Other',
                                                   'Japanese, White or Caucasian': 'Other',
                                                   'Asian, Black or African American, White or Caucasian': 'Other',
                                                   'Filipino, Black or African American, White or Caucasian': 'Other',
                                                   'White or Caucasian, Asian': 'Other',
                                                   'White or Caucasian, American Indian and Alaska Native': 'Other',
                                                   'Chinese': 'Asian',
                                                   'Asian Indian': 'Asian',
                                                   'Unknown, White or Caucasian': 'Other',
                                                   'American Indian and Alaska Native, White or Caucasian': 'Other',
                                                   'Asian, Other': 'Other',
                                                   'American Indian and Alaska Native, Black or African American': 'Other'})

<ipython-input-17-3a9f819e69e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_b1['race'] = cases_b1['race'].map({'Black or African American': 'Black or African American',

In [ ]:
cases_b1['race'].unique()

array(['Black or African American', 'White', 'Not Reported', 'Asian',
       'Other', 'Native Hawaiian or other Pacific Islander',
       'American Indian or Alaska Native'], dtype=object)

#### Let's determine which patients were covid19 positive so we can populate the 'covid19_positive' property. Locating all covid19 measurements for the cohort:

In [ ]:
measurements_b1 = df4.loc[df4.anon_mrn.isin(cases_b1['case_ids'])]

In [ ]:
measurements_b1

            anon_mrn  anon_test_date test_method test_result
0      302028-000002               0      RT-PCR    Negative
2      302028-000005               0      RT-PCR    Positive
7      302028-000004               0      RT-PCR    Negative
8      302028-000004              58      RT-PCR    Negative
9      302028-000004              66      RT-PCR    Negative
...              ...             ...         ...         ...
11134  302028-003880             590      RT-PCR    Negative
11135  302028-003880             594      RT-PCR    Negative
11136  302028-003880             595      RT-PCR    Negative
11137  302028-003880             617      RT-PCR    Negative
11138  302028-003880             732      RT-PCR    Negative

[7349 rows x 4 columns]

In [ ]:
measurements_b1.loc[measurements_b1['test_result'] == 'Positive', 'covid19_positive'] = 'Yes'

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
covid_positive = measurements_b1.loc[measurements_b1['covid19_positive']=='Yes']

In [ ]:
covid_positive = covid_positive.drop_duplicates(subset = 'anon_mrn')

In [ ]:
covid_positive = covid_positive[['anon_mrn', 'covid19_positive']]
covid_positive

            anon_mrn covid19_positive
2      302028-000005              Yes
59     302028-000494              Yes
128    302028-000773              Yes
168    302028-000841              Yes
171    302028-000397              Yes
...              ...              ...
9317   302028-001929              Yes
9962   302028-004210              Yes
10255  302028-003967              Yes
10381  302028-003818              Yes
10992  302028-004122              Yes

[250 rows x 2 columns]

In [ ]:
covid_positive.rename(columns={'anon_mrn': 'case_ids'}, inplace=True)

#### Now that we have a list of the patients within the cohort that had at least one positive covid19 measurement, let's merge with our existing table:

In [ ]:
cases_b1 = pd.merge(cases_b1, covid_positive,  how='left', on=['case_ids'])

#### All the other patients are not covid positive, so we need to fill in 'No' for those patients:

In [ ]:
cases_b1['covid19_positive'].fillna('No', inplace = True)

#### Now we have to find out if the patient was ever in the icu or on a ventilator. Let's use the covid admission details table to find all the admission details for this cohort:

In [ ]:
admission_details_b1 = df3.loc[df3.anon_mrn.isin(cases_b1['case_ids'])]

In [ ]:
admission_details_b1 = admission_details_b1.drop_duplicates(subset='anon_mrn')
admission_details_b1

,anon_mrn,covid19_hospital_admission,anon_date_covid19_hospital_admission,anon_date_covid19_hospital_discharge,covid19_discharge_type,covid19_medication_at_discharge,anon_date_medication_start,covid19_icu_admission,anon_date_covid19_icu_admission,anon_date_covid19_icu_discharge,...,anon_date_covid19_treatment_assessed,covid19_treatment_received,anon_date_vitals,weight,height,blood_pressure,temperature,pulse,respiratory_rate,spO2
0,302028-000002,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,302028-000005,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,302028-000004,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,302028-000006,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,302028-000003,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4389,302028-004032,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4390,302028-003844,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4391,302028-004103,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4392,302028-003894,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4393,302028-003880,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

First let's locate the patients that were admitted to the icu:

In [ ]:
icu_indic = admission_details_b1[['anon_mrn', 'covid19_icu_admission']]

In [ ]:
icu_indic.rename(columns={'anon_mrn': 'case_ids', 'covid19_icu_admission':'icu_indicator'}, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

#### Let's merge the icu data with our exisitng 'cases_b1' table:

In [ ]:
cases_b1 = pd.merge(cases_b1, icu_indic,  how='left', on=['case_ids'])

In [ ]:
cases_b1['icu_indicator'].unique()

array(['No', 'Yes'], dtype=object)

#### Map the icu_indicator values to boolean:

In [ ]:
cases_b1['icu_indicator'] = cases_b1['icu_indicator'].map({'No': False, 'Yes': True})

In [ ]:
cases_b1

,case_ids,ethnicity,race,sex,zip,site_id,submitter_id,gen3_linked_subjects_available,index_event,covid19_positive,icu_indicator
0,302028-000002,Not Hispanic or Latino,Black or African American,Female,481,302028,302028-000002,False,First COVID test,No,False
1,302028-000005,Not Hispanic or Latino,Black or African American,Female,482,302028,302028-000005,False,First COVID test,Yes,False
2,302028-000004,Not Hispanic or Latino,White,Female,481,302028,302028-000004,False,First COVID test,No,False
3,302028-000006,Not Hispanic or Latino,White,Male,487,302028,302028-000006,False,First COVID test,No,False
4,302028-000003,Not Hispanic or Latino,White,Male,486,302028,302028-000003,False,First COVID test,No,False
...,...,...,...,...,...,...,...,...,...,...,...
2265,302028-004032,Not Hispanic or Latino,White,Female,435,302028,302028-004032,False,First COVID test,No,False
2266,302028-003844,Not Hispanic or Latino,White,Male,487,302028,302028-003844,False,First COVID test,No,False
2267,302028-004103,Not Hispanic or Latino,Other,Male,484,302028,302028-004103,False,First COVID test,No,False
2268,302028-003894,Not Hispanic or Latino,White,Male,481,302028,302028-003894,False,First COVID test,No,False
2269,302028-003880,Hispanic or Latino,Other,Male,484,302028,302028-003880,False,First COVID test,No,False

#### We don't have any patients that have ventilator information, so we won't populate that property:

In [ ]:
admission_details_b1['covid19_breathing_support_type'].unique()

array([nan])

In [ ]:
cases_b1['ventilator_indicator'] = np.nan
cases_b1['country_of_origin'] = np.nan

We also don't have info on the patients' country of origin, so that property is also left blank.

In [ ]:
cases_b1

,case_ids,ethnicity,race,sex,zip,site_id,submitter_id,gen3_linked_subjects_available,index_event,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin
0,302028-000002,Not Hispanic or Latino,Black or African American,Female,481,302028,302028-000002,False,First COVID test,No,False,NaN,NaN
1,302028-000005,Not Hispanic or Latino,Black or African American,Female,482,302028,302028-000005,False,First COVID test,Yes,False,NaN,NaN
2,302028-000004,Not Hispanic or Latino,White,Female,481,302028,302028-000004,False,First COVID test,No,False,NaN,NaN
3,302028-000006,Not Hispanic or Latino,White,Male,487,302028,302028-000006,False,First COVID test,No,False,NaN,NaN
4,302028-000003,Not Hispanic or Latino,White,Male,486,302028,302028-000003,False,First COVID test,No,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,302028-004032,Not Hispanic or Latino,White,Female,435,302028,302028-004032,False,First COVID test,No,False,NaN,NaN
2266,302028-003844,Not Hispanic or Latino,White,Male,487,302028,302028-003844,False,First COVID test,No,False,NaN,NaN
2267,302028-004103,Not Hispanic or Latino,Other,Male,484,302028,302028-004103,False,First COVID test,No,False,NaN,NaN
2268,302028-003894,Not Hispanic or Latino,White,Male,481,302028,302028-003894,False,First COVID test,No,False,NaN,NaN
2269,302028-003880,Hispanic or Latino,Other,Male,484,302028,302028-003880,False,First COVID test,No,False,NaN,NaN

#### Okay we're almost done. We need to get patient age. Let's use the imaging details table to grab the patient age:

In [ ]:
df5 = df5.sort_values(by=['anon_mrn', 'age'])

In [ ]:
df5 = df5.drop_duplicates(subset ='anon_mrn')

In [ ]:
df5 = df5.loc[df5.anon_mrn.isin(cases_b1['case_ids'])]

In [ ]:
df5 = df5[['anon_mrn', 'age']]

In [ ]:
df5.rename(columns={'anon_mrn': 'case_ids', 'age': 'age_at_index'}, inplace=True)

In [ ]:
df5

            case_ids  age_at_index
0      302028-000002            21
32     302028-000003            56
17     302028-000004            82
2      302028-000005            46
26     302028-000006            62
...              ...           ...
12425  302028-004296            57
13009  302028-004297            42
12345  302028-004298            29
12141  302028-004299            57
12426  302028-004300             0

[2270 rows x 2 columns]

#### Now that we have the age for each patient in the cohort, let's merge with the 'cases_b1' table:

In [ ]:
cases_b1 = pd.merge(cases_b1, df5,  how='left', on=['case_ids'])

In [ ]:
cases_b1

,case_ids,ethnicity,race,sex,zip,site_id,submitter_id,gen3_linked_subjects_available,index_event,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin,age_at_index
0,302028-000002,Not Hispanic or Latino,Black or African American,Female,481,302028,302028-000002,False,First COVID test,No,False,NaN,NaN,21
1,302028-000005,Not Hispanic or Latino,Black or African American,Female,482,302028,302028-000005,False,First COVID test,Yes,False,NaN,NaN,46
2,302028-000004,Not Hispanic or Latino,White,Female,481,302028,302028-000004,False,First COVID test,No,False,NaN,NaN,82
3,302028-000006,Not Hispanic or Latino,White,Male,487,302028,302028-000006,False,First COVID test,No,False,NaN,NaN,62
4,302028-000003,Not Hispanic or Latino,White,Male,486,302028,302028-000003,False,First COVID test,No,False,NaN,NaN,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,302028-004032,Not Hispanic or Latino,White,Female,435,302028,302028-004032,False,First COVID test,No,False,NaN,NaN,77
2266,302028-003844,Not Hispanic or Latino,White,Male,487,302028,302028-003844,False,First COVID test,No,False,NaN,NaN,0
2267,302028-004103,Not Hispanic or Latino,Other,Male,484,302028,302028-004103,False,First COVID test,No,False,NaN,NaN,19
2268,302028-003894,Not Hispanic or Latino,White,Male,481,302028,302028-003894,False,First COVID test,No,False,NaN,NaN,62
2269,302028-003880,Hispanic or Latino,Other,Male,484,302028,302028-003880,False,First COVID test,No,False,NaN,NaN,8

In [ ]:
cases_b1['age_at_index'].unique()

array([21, 46, 82, 62, 56, 85, 61, 33, 51, 76, 75, 58, 57, 74, 66, 69, 64,
       45, 28, 70, 20, 52, 60, 50, 44, 73, 49,  6, 39, 77, 68, 54, 80, 81,
       36, 26, 43, 13, 35, 30, 37, 24, 55, 38,  9, 71, 10, 19, 53, 90, 63,
        1, 72,  0,  7, 84, 27, 14,  2, 78, 86, 23,  4, 22, 88, 89, 31, 25,
       41, 79, 59, 29, 47, 48, 16,  5, 67, 34, 65, 83,  3, 42, 18, 32, 40,
        8, 17, 87, 15, 11])

#### There are some patients in this cohort that are 90 years old. Let's remove the values above 89 and add the 'age_at_index_gt89' column to account for them:

In [ ]:
cases_b1.loc[cases_b1['age_at_index'] >= 90, 'age_at_index_gt89'] = 'Yes'

In [ ]:
cases_b1['age_at_index_gt89'].fillna('No', inplace = True)

In [ ]:
cases_b1.loc[cases_b1['age_at_index'] >= 90, 'age_at_index'] = np.NaN

In [ ]:
cases_b1

,case_ids,ethnicity,race,sex,zip,site_id,submitter_id,gen3_linked_subjects_available,index_event,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin,age_at_index,age_at_index_gt89
0,302028-000002,Not Hispanic or Latino,Black or African American,Female,481,302028,302028-000002,False,First COVID test,No,False,NaN,NaN,21.0,No
1,302028-000005,Not Hispanic or Latino,Black or African American,Female,482,302028,302028-000005,False,First COVID test,Yes,False,NaN,NaN,46.0,No
2,302028-000004,Not Hispanic or Latino,White,Female,481,302028,302028-000004,False,First COVID test,No,False,NaN,NaN,82.0,No
3,302028-000006,Not Hispanic or Latino,White,Male,487,302028,302028-000006,False,First COVID test,No,False,NaN,NaN,62.0,No
4,302028-000003,Not Hispanic or Latino,White,Male,486,302028,302028-000003,False,First COVID test,No,False,NaN,NaN,56.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,302028-004032,Not Hispanic or Latino,White,Female,435,302028,302028-004032,False,First COVID test,No,False,NaN,NaN,77.0,No
2266,302028-003844,Not Hispanic or Latino,White,Male,487,302028,302028-003844,False,First COVID test,No,False,NaN,NaN,0.0,No
2267,302028-004103,Not Hispanic or Latino,Other,Male,484,302028,302028-004103,False,First COVID test,No,False,NaN,NaN,19.0,No
2268,302028-003894,Not Hispanic or Latino,White,Male,481,302028,302028-003894,False,First COVID test,No,False,NaN,NaN,62.0,No
2269,302028-003880,Hispanic or Latino,Other,Male,484,302028,302028-003880,False,First COVID test,No,False,NaN,NaN,8.0,No

#### Everything looks good. Let's double check that the submitter ids are unique. There should be 2270:

In [ ]:
cases_b1.drop_duplicates(subset='submitter_id')

,case_ids,ethnicity,race,sex,zip,site_id,submitter_id,gen3_linked_subjects_available,index_event,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin,age_at_index,age_at_index_gt89
0,302028-000002,Not Hispanic or Latino,Black or African American,Female,481,302028,302028-000002,False,First COVID test,No,False,NaN,NaN,21.0,No
1,302028-000005,Not Hispanic or Latino,Black or African American,Female,482,302028,302028-000005,False,First COVID test,Yes,False,NaN,NaN,46.0,No
2,302028-000004,Not Hispanic or Latino,White,Female,481,302028,302028-000004,False,First COVID test,No,False,NaN,NaN,82.0,No
3,302028-000006,Not Hispanic or Latino,White,Male,487,302028,302028-000006,False,First COVID test,No,False,NaN,NaN,62.0,No
4,302028-000003,Not Hispanic or Latino,White,Male,486,302028,302028-000003,False,First COVID test,No,False,NaN,NaN,56.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,302028-004032,Not Hispanic or Latino,White,Female,435,302028,302028-004032,False,First COVID test,No,False,NaN,NaN,77.0,No
2266,302028-003844,Not Hispanic or Latino,White,Male,487,302028,302028-003844,False,First COVID test,No,False,NaN,NaN,0.0,No
2267,302028-004103,Not Hispanic or Latino,Other,Male,484,302028,302028-004103,False,First COVID test,No,False,NaN,NaN,19.0,No
2268,302028-003894,Not Hispanic or Latino,White,Male,481,302028,302028-003894,False,First COVID test,No,False,NaN,NaN,62.0,No
2269,302028-003880,Hispanic or Latino,Other,Male,484,302028,302028-003880,False,First COVID test,No,False,NaN,NaN,8.0,No

#### The case node for UMichigan batch 1 is complete. Let's download it:

In [ ]:
cases_b1.to_csv('case_RSNA_20230117.csv', index = False)